html {
    scroll-behavior: smooth;
  }

#navbar-brand {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    color: #fdcc52;
}

#navbar-brand:hover {
    color: white;
}

.nav-item {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #fdcc52 !important;
}

.navbar-lg {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    padding: 0;
    background-color: transparent;
    display: none;
}

#navbar-small {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    padding: 0;
    display: block;
}

@media only screen and (min-width: 992px) {
    #navbar-small {
        display: none;
    }

    #navbar-brand-lg {
        font-family: 'Catamaran', Helvetica, Arial, sans-serif;
        color: #fdcc52;
    }
    
    #navbar-lg {
        display: block;
    }

    .nav-item-lg {
        font-family: 'Catamaran', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
    }

    .nav-link-lg {
        color: white;
    }

    h3 {
        font-family: 'Catamaran', Helvetica, Arial, sans-serif;
        font-size: 3rem;
        line-height: 4rem !important;
        font-weight: 100;
    }
}

#start {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-image: url('../img/bg-pattern.png'), linear-gradient(90deg, #de494d, #7d4397);
    background-repeat: repeat;
}

h3 {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 2.1rem;
    font-weight: 100;
}

.btn {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}

.btn:hover {
    background-color: #fdcc52;
    border: 1px solid #fdcc52;
    color: white;
}

h1 {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: 300;
    padding: 0.7rem;
}

p {
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

@media only screen and (min-width: 992px) {
    #start-text {
        font-size: 3rem;
    }

    #phone {
        background-size: cover;
    }

    #discover a {
        width: 120px;
    }

    #discover a img {
        width: 118px !important;
        max-width: 100% !important;
    }
}

#phone {
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0 !important;
}

#phone img {
    padding: 15% 20%;
    width: 90vw;
    display: inline;
}

#phone-unlimited {
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0 !important;
}

#phone-unlimited img {
    padding: 15% 20%;
    width: 90vw;
    display: inline;
}

#discover {
    background-color: #fdcc52;
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 5rem;
    }

    #unlimited h1 {
        font-size: 4rem;
    }
}

.iconify {
    color: #ae3264;
    font-size: 4rem;
}

@media only screen and (min-width: 992px) {
    #stop-waiting button {
        font-size: 1rem !important;
        margin-left: 3rem !important;
    }

    #stop-waiting h3 {
        font-size: 4rem;
    }
}

#stop-waiting {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    background-image:linear-gradient(rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)), url('../img/bg-cta.jpg');
    background-size: cover;
}

#stop-waiting button {
    font-size: 0.5rem;
}

#friends-social i {
    width: 36px;
    height: 36px;
    opacity: 0.9;
}

#friends {
    background-color: #fdcc52;
}

#friends i {
    color: red;
    
}

#friends-social i:hover {
    opacity: 1;
}

#footer {
    background-color: #222;
    color: white;
}

#footer a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#footer a:hover {
    color: #fdcc52;
}